<div style="padding: 1em">
    <h1>Open a spreadsheet</h1>
    Location:
    <input type="url" size=75 ng-model="uri" ng-change="changeURI()" />
    <button ng-click="open()" ng-disabled="!canOpen()">Open</button>
    <button ng-click="cancel()">Cancel</button>
    <p />
    <treecontrol class="tree-browse" tree-model="treeData" options="treeOptions" on-selection="treeSelect(node)">
        <li class="{{node.class}}">
            <i style="display: inline"></i>
            {{node.label}} {{node.mdate&&" ("+node.mdate+")"}}
        </li>
    </treecontrol>
</div>